<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ReceiptFilename" value="Receipt.txt"/>
    <add key="ImportTaxrate" value="0.05"/>
    <add key="SalesTaxrate" value="0.1"/>
  </appSettings>
</configuration>